   
 /* overall styling */

    body {
        font-family:'Arial', 'Helvetica', sans-serif;
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        }

/* header styling */

    h1 {
        color: #57B8FF;
        font-size: 50px;
        margin-top:0px;
        margin-bottom:0px;
        }

    p#byline {
        font-style:italic;
        }

    .header-background {
        background-image: url("background-image.png");
    }

 /* navigation styling */

    ul#horizontal li {
        display:inline-block;
        }

    a {
        color: #FE6847;
        font-family:'Arial', 'Helvetica', sans-serif;
        font-weight:bold;
        font-size:25px;
        }

/* section title styling */

    h3 {
        color: #FE6847;
        }
            
    h4 {
        color: #2176AE;
        }

    h2 {
        color: #2176AE;
        }

/* section styling */
    p#intro {
        font-weight:bold;
        font-size: 25px;
        }

/* categories styling */ 

    li {
        font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
        }
            
    #author {
        border-radius:50%;
        border:6px solid;
        color:#57B8FF;
        float:right;
        }
